/*@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;500&display=swap');

*{
    font-family: 'Yrsa', serif;
}*/

@media only screen and (resolution: potrait){
    .container{
        padding: 10px 0;
    }
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 100px 0;
}
.imagesection{
    justify-content: center;
    display: flex;
}
img{
    width: 75vw;
    height: 50vw;
}
.celebrating{
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
    padding: 0 20px 0 20px;
}
.information{
    padding: 0 20px 0 20px;
}
.about .summary{
    text-align: justify;
    font-size: 3em;
    overflow-wrap: normal;
}
.endblock{
    background-color: white;
    width: 110%;
    font-size: 1.5em;
    padding: 0 0 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 95%;
    left: 0;
}