html{
    background-color: antiquewhite;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0 0 0;
    border: none;
    display: grid;
}
header{
    background-color: rgb(0, 115, 69);
    align-content: center;
    height: 4vh;
    text-align: justify;
    padding: 2vh 0 2vh 0;
    grid-row: 1;
}
ul{
    display: inline;
    line-height: 4.5vh;
    word-spacing: 3vw;
    list-style-type: none;
    padding: 0vw;
}
.help-start{
    margin: none;
    margin-left: 5vw;
    margin-right: 15vw;
}
.reg-log{
    margin: none;
    margin-left: 18vw;
    margin-right: 5vw;
}
.home-main{
    background-image: url("eleven-logo-smallest.png");
    width: 100vw;
    height: 81vh;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 2;
}
footer{
    background-color: /*rgb(21, 22, 21)*/ rgb(0, 115, 69);
    color: white;
    position: relative;
    align-content: center;
    text-align: center;
    display: grid;
    align-items: center;
    height: 11vh;
    grid-row: 3;
}
.footer-notes{
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    padding-left: 1em;
    padding-top: 1vh;
    height: 6vh;
}
.contact-info{
    box-sizing: border-box;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
    text-align: right;
    padding-right: 1em;
    padding-top: 1vh;
    height: 6vh;
}
.footer-copy{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid white;
    padding-top: 1vh;
    height: 3vh;
}
a, a:visited{
    color: antiquewhite;
    text-decoration: none;
}
.login-link-button, .login-link-button:visited{
    background-color: white;
    margin: 1vh 0 0 0;
    padding: 1.5vh 1vw 1.5vh 1vw;
    color: rgb(0, 115, 69);
    border: 1px solid white;
}
a:hover{
    color: rgb(28, 240, 81);
    font-weight: bolder;
    text-decoration: none;
}
.login-link-button:hover {
    background-color: rgb(0, 115, 69);
    border: 1px solid white;
    font-weight: bolder;
    color: white;
}
/* The container <div> needed to position the dropdown content */
.help-dropdown{
    position: relative;
    display: inline-block;
    margin-left: 0vw;
    border: 1vw solid white;
}
/* Dropdown Button */
.help-dropbtn{
    background-color: #04aa6d;
    color: white;
    padding: 0.5em;
    border: none;
    width: 98vw;
    height: 5vh;
    font-size: larger;
}
/* Dropdown Content (Hidden by Default) */
.help-dropdown-content{
    display: none;
    position: relative;
    background-color: white;
    text-align: justify;
    border-bottom: 0.25vw solid rgb(0, 115, 69);
    padding: 1em;
    min-width: 11.41em;
    font-size: larger;
}
/* Links inside the dropdown */
.help-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.help-dropdown-content a:hover{
    background-color: rgb(28, 240, 81);
}

.help-dropdown:hover{
    border-top: 0.25vw solid rgb(0, 115, 69);
}
/* Show the dropdown menu on hover */
.help-dropdown:hover .help-dropdown-content{
    display: block;
    background-color: white;
    color: rgb(0, 115, 69);
}
/* Change the background color of the dropdown buttin when the content is shown */
.help-dropdown:hover .help-dropbtn{
    background-color: white;
    color: rgb(0, 115, 69);
}
/*main body of the help page*/
.help-main{
    width: 100vw;
    height: 81vh /*fit-content*/;
    background-color: white;
}
/*main body of the stats page*/
.stats-main{
    width: 94vw;
    height: 78.5vh /*fit-content*/;
    background-color: white;
    color: black;
    font-size: larger;
    border-top: 2.5vh solid white;
    border-left: 3vw solid white;
    border-right: 3vw solid white;
}
