html{
    background-color: antiquewhite;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0 0 0;
    border: none;
}
header{
    background-color: rgb(0, 115, 69);
    align-content: center;
    height: 4vh;
    text-align: justify;
    padding: 2vh 0 2vh 0;
}
ul{
    display: inline;
    line-height: 4.5vh;
    word-spacing: 3vw;
    list-style-type: none;
    padding: 0vw;
}
.help-start{
    margin: none;
    margin-left: 5vw;
    margin-right: 15vw;
}
main{
    width: 100vw;
    height: /*81vh*/ fit-content;
    background-color: white;
    display: grid;
}
.leagues{
    grid-row: 2;
    width: 100vw;
    /*height: /*fit-content*//*;*/
    overflow-x: inherit;
    border-top: 0.25em;
    border-top-style: solid;
    border-color: rgb(0, 115, 69);
    text-align: center;
}
.selected-team, .teams-list{
    background-color: rgb(0, 115, 69);
    text-align: center;
    grid-row: 3;
    border-top: 1em;
    border-top-style: solid;
    border-color: rgb(0, 115, 69);
    /*height: 46.2vh;*/
    height: 60vh;
}
.select-league-button, .select-player-button, .select-player-button-info, .save-selection-button{
    margin-top: 1.25vh;
    /*margin-top: 0.625vh;
    margin-bottom: 0.625vh;*/
    border: 0.55em solid white;
    background-color: white;
    color: rgb(0, 115, 69);
    width: 45vw;
    height: 3vh;
    font-weight: bold;
    /*border-radius: 3%;*/
    padding-bottom: 2vh;
}
.save-selection-button{
    border-radius: 0%;
    width: 99vw;
}
.select-player-button{
    width: 95.5vw;
}
.select-player-button-info{
    width: 95.5vw;
    margin-top: 0vh;
    border-radius: 0;
    background-color: black;
    color: white;
    border: none;
    padding-top: 0.5em;
}
.select-league-button{
    margin: 0;
}
.ads{
    grid-row: 1;
    width: 100vw;
    height: 20vh;
    text-align: center;
}
footer{
    background-color: rgb(0, 115, 69);
    color: white;
    position: relative;
    align-content: center;
    text-align: center;
    display: grid;
    align-items: center;
    height: 11vh;
    border-top: 1em;
    border-top-style: solid;
    border-color: rgb(0, 115, 69);
}
.footer-notes{
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    padding-left: 1em;
    padding-top: 1vh;
    height: 6vh;
}
.contact-info{
    box-sizing: border-box;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
    text-align: right;
    padding-right: 1em;
    padding-top: 1vh;
    height: 6vh;
}
.footer-copy{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid white;
    padding-top: 1vh;
    height: 3vh;
}

a, a:visited{
    color: antiquewhite;
    text-decoration: none;
}
a:hover{
    color: rgb(28, 240, 81);
    font-weight: bolder;
    text-decoration: none;
}

/* The container <div> needed to position the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 18vw;
}
/* Dropdown Button */
.dropbtn{
    background-color: #04aa6d;
    color: white;
    padding: 0.5em;
    border: none;
    width: 10em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 11.41em;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
    background-color: rgb(28, 240, 81);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
    background-color: white;
    color: rgb(0, 115, 69);
}

/* Change the background color of the dropdown buttin when the content is shown */
.dropdown:hover .dropbtn{
    background-color: white;
    color: rgb(0, 115, 69);
}

.teams-list{
    height: fit-content;
}
.players-list, .list-label{
    width: 100vw;
    padding: 0.5em;
    border: 0.25vh solid white;
}
.players-list{
    background-color: #04aa6d;
    color: white;
    margin-bottom: 1vh;
}
.list-label{
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-bottom: 1vh;
}